<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brent.films_m_e">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoBar">
        <activity android:name="com.example.brent.films_m_e.HomeActivity" />
        <activity
            android:name="com.example.brent.films_m_e.SplashScreen"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.brent.films_m_e.FilmActivity" android:screenOrientation="portrait" />
        <activity android:name="com.example.brent.films_m_e.ActeurActivity" android:screenOrientation="portrait" />
        <activity android:name="com.example.brent.films_m_e.ZoekenActivity" android:screenOrientation="portrait" />
        <activity android:name="com.example.brent.films_m_e.GenresActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>